<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/admin.css}">
</head>
<body>
    <div class="admin-container">
        <h1>Admin Dashboard</h1>
        <p>Welcome to the Admin Panel. Here, you can manage the application and its resources.</p>
        
        <div class="admin-actions">
            <a href="/distribution-centres/all" class="action-button">View Centres</a>
            <a href="/warehouse/clothes" class="action-button">Manage Clothes</a>
            <a href="/admin/users" class="action-button">Monitor Users</a>
        </div>
    </div>
</body>
</html>