<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/styles/styles.css}"/>
    <title>Distribution Centres</title>
</head>
<body>
    <h1>Distribution Centres</h1>
    <div th:if="${error}" th:text="${error}"></div>
    <a th:href="@{/distribution-centres/find}" class="find_button">Find Items</a>
    <table th:unless="${error}">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Latitude</th>
                <th>Longitude</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="centre : ${centres}">
                <td th:text="${centre.id}"></td>
                <td th:text="${centre.name}"></td>
                <td th:text="${centre.latitude}"></td>
                <td th:text="${centre.longitude}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>